.space-image-box {
    align-items: center;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .5rem;
    text-align: center;
}

.space-image-box > img {
    height: 50%;
    width: 50%;
}