.space-image-box {
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1rem;
    text-align: center;
}

.space-image-box > img {
    border-radius: 8px 8px 0px 0px;
    height: auto;
    width: 100%;
}

.like-button {
    z-index: 1;
}

.like-message {
    animation: slide 5s;
    color: red;
    opacity: 1;
    border-radius: 5px;
    padding: 0 1rem;
    background: transparent;
    z-index: -1;
}

@keyframes slide {
    from {
        transform: scale(0.1) translateX(100px);
        opacity: 0;
      }
  
      30% {
        transform: scale(0.8) translateX(0px);
        opacity: 1;
      }
  
      70% {
        transform: scale(0.8) translateX(0px);
        opacity: 1;
      }
      to {
        transform: scale(0.8) translateX(-100px);
        opacity: 0;
      }
}